body { 
    background: #1B1B25;
    font-family: 'Josefin Sans', sans-serif;

}
p {
   
    letter-spacing: .2rem;
  }
span{
    font-size: large;
    color: #DB4D57;
}
li{
    letter-spacing: .2rem; 
}
hr {
    color: wheat;
}
.container{
    background-color: #1f1f2b;;
    color: white;
 }

h1 {
    text-align: center;
    color:#DB4D57;
    letter-spacing: .2rem;
}
h2 {
    letter-spacing: .2rem;
    color: #DB4D57
}
img { 
    width: 50%;
    height: 50%;
}
a {

    color: #5d37e9;
}
a:hover{
    color: #e93737;
}

.button-text{
    color: rgb(88, 88, 88);
}