html, body, h1 {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

#app {
  background: #0a0a0a;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(10, 10, 10, 0.6), rgba(0, 0, 0, 0.9)), repeating-linear-gradient(0, transparent, transparent 2px, black 3px, black 3px), url("https://images.unsplash.com/photo-1506399558188-acca6f8cbf41?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=7118759521e3184778a3b5e010e202c6");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

#wrapper {
  text-align: center;
}

.sub {
  color: #64dcdc;
  letter-spacing: 1em;
}

.glitch {
  position: relative;
  color: white;
  font-size: 4em;
  letter-spacing: .5em;
  animation: glitch-skew 1s infinite linear alternate-reverse;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(28px, 9999px, 59px, 0);
    transform: skew(0.76deg);
  }
  5% {
    clip: rect(90px, 9999px, 10px, 0);
    transform: skew(0.31deg);
  }
  10% {
    clip: rect(22px, 9999px, 80px, 0);
    transform: skew(0.61deg);
  }
  15% {
    clip: rect(76px, 9999px, 40px, 0);
    transform: skew(0.44deg);
  }
  20% {
    clip: rect(71px, 9999px, 12px, 0);
    transform: skew(0.97deg);
  }
  25% {
    clip: rect(28px, 9999px, 43px, 0);
    transform: skew(0.31deg);
  }
  30% {
    clip: rect(75px, 9999px, 90px, 0);
    transform: skew(0.3deg);
  }
  35% {
    clip: rect(87px, 9999px, 17px, 0);
    transform: skew(0.49deg);
  }
  40% {
    clip: rect(73px, 9999px, 87px, 0);
    transform: skew(0.78deg);
  }
  45% {
    clip: rect(12px, 9999px, 68px, 0);
    transform: skew(1deg);
  }
  50% {
    clip: rect(5px, 9999px, 96px, 0);
    transform: skew(0.5deg);
  }
  55% {
    clip: rect(78px, 9999px, 18px, 0);
    transform: skew(0.74deg);
  }
  60% {
    clip: rect(56px, 9999px, 85px, 0);
    transform: skew(0.83deg);
  }
  65% {
    clip: rect(52px, 9999px, 45px, 0);
    transform: skew(0.33deg);
  }
  70% {
    clip: rect(26px, 9999px, 98px, 0);
    transform: skew(0.62deg);
  }
  75% {
    clip: rect(1px, 9999px, 5px, 0);
    transform: skew(0.23deg);
  }
  80% {
    clip: rect(11px, 9999px, 99px, 0);
    transform: skew(0.92deg);
  }
  85% {
    clip: rect(5px, 9999px, 32px, 0);
    transform: skew(0.27deg);
  }
  90% {
    clip: rect(74px, 9999px, 98px, 0);
    transform: skew(0.52deg);
  }
  95% {
    clip: rect(31px, 9999px, 48px, 0);
    transform: skew(0.3deg);
  }
  100% {
    clip: rect(17px, 9999px, 58px, 0);
    transform: skew(0.03deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(33px, 9999px, 59px, 0);
    transform: skew(0.8deg);
  }
  5% {
    clip: rect(78px, 9999px, 78px, 0);
    transform: skew(0.4deg);
  }
  10% {
    clip: rect(64px, 9999px, 73px, 0);
    transform: skew(0.44deg);
  }
  15% {
    clip: rect(76px, 9999px, 32px, 0);
    transform: skew(0.11deg);
  }
  20% {
    clip: rect(42px, 9999px, 24px, 0);
    transform: skew(0.23deg);
  }
  25% {
    clip: rect(41px, 9999px, 82px, 0);
    transform: skew(0.65deg);
  }
  30% {
    clip: rect(67px, 9999px, 86px, 0);
    transform: skew(0.02deg);
  }
  35% {
    clip: rect(97px, 9999px, 9px, 0);
    transform: skew(0.69deg);
  }
  40% {
    clip: rect(71px, 9999px, 72px, 0);
    transform: skew(0.61deg);
  }
  45% {
    clip: rect(38px, 9999px, 9px, 0);
    transform: skew(0.68deg);
  }
  50% {
    clip: rect(48px, 9999px, 61px, 0);
    transform: skew(0.08deg);
  }
  55% {
    clip: rect(69px, 9999px, 37px, 0);
    transform: skew(0.93deg);
  }
  60% {
    clip: rect(90px, 9999px, 38px, 0);
    transform: skew(0.82deg);
  }
  65% {
    clip: rect(41px, 9999px, 69px, 0);
    transform: skew(0.05deg);
  }
  70% {
    clip: rect(45px, 9999px, 98px, 0);
    transform: skew(0.22deg);
  }
  75% {
    clip: rect(50px, 9999px, 95px, 0);
    transform: skew(0.74deg);
  }
  80% {
    clip: rect(29px, 9999px, 22px, 0);
    transform: skew(0.23deg);
  }
  85% {
    clip: rect(91px, 9999px, 79px, 0);
    transform: skew(0.53deg);
  }
  90% {
    clip: rect(44px, 9999px, 9px, 0);
    transform: skew(0.16deg);
  }
  95% {
    clip: rect(51px, 9999px, 94px, 0);
    transform: skew(0.83deg);
  }
  100% {
    clip: rect(22px, 9999px, 58px, 0);
    transform: skew(0.01deg);
  }
}

@keyframes glitch-skew {
  0% {
    transform: skew(-1deg);
  }
  10% {
    transform: skew(-4deg);
  }
  20% {
    transform: skew(5deg);
  }
  30% {
    transform: skew(3deg);
  }
  40% {
    transform: skew(-1deg);
  }
  50% {
    transform: skew(0deg);
  }
  60% {
    transform: skew(3deg);
  }
  70% {
    transform: skew(0deg);
  }
  80% {
    transform: skew(5deg);
  }
  90% {
    transform: skew(1deg);
  }
  100% {
    transform: skew(5deg);
  }
}

