.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: rgba(0,0,0,0.47);
  border-color: rgba(0,0,0,0.37);
}

